<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xrecyclerview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LinearActivity"
            android:label="@string/app_name"
            android:theme="@style/SupportTheme" />
        <activity
            android:name=".GridActivity"
            android:label="@string/app_name"
            android:theme="@style/SupportTheme" />
        <activity
            android:name=".StaggeredGridActivity"
            android:label="@string/app_name"
            android:theme="@style/SupportTheme" />
        <activity
            android:name=".EmptyViewActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".CollapsingToolbarLayoutActivity"
            android:theme="@style/SupportTheme" />
        <activity
            android:name=".DisableExampleActivity"
            android:theme="@style/SupportTheme" />
        <activity
            android:name=".MultiHeaderActivity"
            android:theme="@style/SupportTheme"
            ></activity>
    </application>

</manifest>